.custom-button {
  width: 80%;
  height: 5rem;
  margin-bottom: 1rem;
}

.first {
  position: center;

  width: 100%;
  height: 100%;
}

.second {
  position: center;

  width: 100%;
  height: 100%;
  padding-top: 9%;
}

.first p {
  color: var(--accent-weak);

  font-size: 30px;
}

.second p {
  color: var(--faint-weak);

  font-size: 23px;
}

.custom-button-second {
  width: 65%;
  height: 4.7rem;
  margin-bottom: 1rem;
}

.h5 {
  display: block;

  margin-top: -1.7em;
  margin-bottom: 1em;

  color: var(--accent-weak);

  font-size: 2rem;
}
