{
  "root": true,
 "ignorePatterns": [
  "next.config.js"
],
  "plugins": [
    "@typescript-eslint",
    "jsx-a11y",
    "react",
    "prettier"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": [
      "./tsconfig.json"
    ] // Specify it only for TypeScript files
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
      ],
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    }
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-props-no-spreading": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/button-has-type": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "indent": [
      "warn",
      2
    ],
    "semi": "warn",
    "@typescript-eslint/semi": [
      "warn"
    ],
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ]
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "next",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}
