.h1 {
  color: inherit;

  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
}

.h2 {
  color: inherit;

  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}

.h3 {
  color: inherit;

  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
}

.h4 {
  color: inherit;

  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
}

.h5 {
  color: inherit;

  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
}

.h6 {
  color: inherit;

  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
}
