.lock-element {
  position: absolute;
  z-index: 3;

  right: 1%;
  bottom: 0;
  left: 1%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100fr;
  height: 50vh;
  padding-right: 2vmin;

  padding-left: 2vmin;

  border-radius: 1.5em 1.5em 0 0;
  background: rgb(20 21 22 / 60%);
}

.lock-element svg {
  position: relative;
  z-index: 1;

  width: 80%;
  height: 80%;
}

.custom-button {
  position: fixed;
  z-index: 2;

  display: flex;
  align-self: center;

  width: 70vmin;
  height: 11vh;
  margin-top: 5.5rem;
}
