.demo-mode {
  position: absolute;
  z-index: 999;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4%;

  color: var(--base-weak);
  background-color: var(--complement-weak);

  font-size: 1rem;
}

.demo-mode a {
  cursor: pointer;
  text-decoration: underline;
}

.demo-mode:hover a {
  transition: all 0.2s;

  color: var(--complement-strong);
}
