.custom-button {
  width: 80%;

  height: 5rem;
  margin-top: 2rem;
}

.first {
  position: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.around-input {
  align-self: stretch;
}

.input {
  height: 9vh;
}

.first p {
  display: block;
  margin-block-start: 2%;
  margin-block-end: 1rem;

  align-self: stretch;

  font-size: 0.8em;
}

.first-image {
  margin-top: 0.5em;
  margin-left: 3rem;
}

.h5 {
  display: block;

  margin-top: -6vh;
  margin-bottom: 1em;

  color: var(--accent-weak);

  font-size: 2rem;
}
