@import 'normalize';

html,
body {
  margin: 0;
  padding: 0;
  color: var(--accent-weak);
  background-color: var(--base-strong);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --base-strong: #141516;
  --base-weak: #FFFFFF;

  --faint-strong: #363636;
  --faint-weak: #A29581;

  --accent-strong: #F5A932;
  --accent-weak: #F2DCBB;

  --complement-strong: #59345C;
  --complement-weak: #A17BA4;

  --faint-strong-up: #2B2B2B;
}

.fancy {
  --fancy-accent-weak: linear-gradient(90deg, var(--accent-weak) 0%, var(--accent-strong) 100%);
  --fancy-complement-weak: linear-gradient(90deg, var(--complement-weak) 0%, var(--accent-weak) 100%);
}

.rounded {
  border-radius: 30px;
}
